<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1><%= isSelf ? "My Lists" : profileUser.username + "'s Lists" %></h1>

    <h2>Visited</h2>
    <% (isSelf ? user.lists.visited : profileUser.lists.visited).forEach(shop => { %>
        <p><a href="/coffeeShops/<%= shop._id %>"><%= shop.name %></a> - <%= shop.city %></p>
    <% }) %>

    <h2>Wishlist</h2>
    <% (isSelf ? user.lists.wishlist : profileUser.lists.wishlist).forEach(shop => { %>
        <p><a href="/coffeeShops/<%= shop._id %>"><%= shop.name %></a> - <%= shop.city %></p>
    <% }) %>

    <% if (isSelf) { %>
        <h2>Removed</h2>
        <% user.lists.removed.forEach(shop => { %>
            <p><a href="/coffeeShops/<%= shop._id %>"><%= shop.name %></a> - <%= shop.city %></p>
        <% }) %>
    <% } %>
</body>
</html>
