<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shops</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <h1>Discover Amazing Coffee Shops</h1>

        <% if (user) { %>
            <a href="/coffeeShops/new">
                <button>Add a Coffee Shop</button>
            </a>
            <% } %>

                <% if (coffeeShops.length> 0) { %>
                    <% coffeeShops.forEach(shop=> { %>
                        <div>
                            <h2>
                                <%= shop.name %>
                            </h2>
                            <p>City: <%= shop.city %>
                            </p>
                            <p> Rating: <%= shop.averageRating || "No ratings yet" %> / 5</p>
                            <a href="/coffeeShops/<%= shop._id %>">View Details</a>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <p>No coffee shops found. Be the first to add one!</p>
                                <% } %>
</body>

</html>